NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...
SUPABASE_SERVICE_ROLE_KEY=eyJ...
RESEND_API_KEY=re_...
NEXT_PUBLIC_APP_URL=http://localhost:3000
ADMIN_EMAIL=admin@felitostudios.com
NEXT_PUBLIC_BOOKING_URL_CORDON=https://book.weibook.co/branch/felito-barber-studio-sede-1
NEXT_PUBLIC_BOOKING_URL_PUNTA_CARRETAS=https://book.weibook.co/branch/felito-barber-studio-punta-carretas
